img {
    width: 32%;
    float: center;
  }

body {
    color: #40514E;
    background-color: #66BFBF;
    margin: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
  
h1 {
    color: black;
    font-size: 5.625rem;
    font-family: 'Sacramento';
    margin-top: 0;
    margin-bottom: 0;
}